<a href="https://colab.research.google.com/github/Pablosilvaa/Desafio-Infer-ncia---Tera/blob/main/Desafio_tera_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Background**
### **Depressão e Hábitos Saudáveis**


O transtorno depressivo representa um grande problema de saúde pública e é apontado como uma das principais causas de doenças e debilitações segundo a Organização Mundial da Saúde (OMS). A depressão resulta de uma interação complexa de fatores sociais, psicológicos e biológicos e, embora o acesso a diagnósticos e tratamentos esteja aumentando, muitos ainda não possuem acesso ao controle adequado dos sintomas depressivos.

Para garantir um estilo de vida saudável, a OMS recomenda a prática regular de exercícios, bem como a adoção de uma dieta saudável rica em alimentos in natura e com reduzido teor de gordura saturada, sal e açucares refinados.

Neste desafio, utilizaremos dados de uma pesquisa realizada anualmente nos Estados Unidos para avaliar:


**(1) Qual o perfil de indivíduos (adultos maiores de 18 anos) com sintomas depressivos nos EUA no período de 2005-2006**

**(2) Se hábitos saudáveis de alimentação e atividade física estão associados a menores índices de depressão nesta população.**


#**Perguntas durante a EDA**

#**DF**

## 1. Porque algumas colunas estão com 0 quartis? (06/12 - 08:09)
## 2. DPQ030	DPQ040 tem uma linha com valor = 1( isso está diferente dos outros) (06/12 - 08:09)


#**DF1**

In [2]:
#pacotes instalados que não estavam contidos no repositório oficial do colab
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.3-py3-none-any.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 3.6 MB/s
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.19.5)
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (5.4.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (4.62.3)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (3.0.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.3

#**Data**

In [3]:
#Lista de Importações
import pandas as pd
import numpy as np
import seaborn as sbn
import sweetviz as sv

In [6]:
dataS = pd.read_csv("/content/drive/MyDrive/Tera/Desafio 1/DEMO_PHQ.csv") #dataS referência a dados do questionário de SAÚDE
dataS

       SEQN  DPQ010  DPQ020  DPQ030  ...  RIDAGEYR  RIDRETH1  DMDEDUC  INDFMINC
0     31130     NaN     NaN     NaN  ...        85         3        4       4.0
1     31131     0.0     0.0     0.0  ...        44         4        4      11.0
2     31132     0.0     0.0     0.0  ...        70         3        5      11.0
3     31134     0.0     0.0     0.0  ...        73         3        3      12.0
4     31139     0.0     0.0     0.0  ...        18         2        3      11.0
...     ...     ...     ...     ...  ...       ...       ...      ...       ...
5329  41466     0.0     0.0     1.0  ...        58         5        2       3.0
5330  41468     0.0     2.0     0.0  ...        66         1        1       8.0
5331  41469     1.0     0.0     0.0  ...        19         4        4       2.0
5332  41472     0.0     0.0     0.0  ...        34         3        4       7.0
5333  41473     0.0     0.0     2.0  ...        21         1        2       6.0

[5334 rows x 15 columns]

In [8]:
#Para facilitar a leitura do dataset, começaremos renomeandos as colunas do dataS e atribuiremos a essa renomeação de dataS1
dataS1 = dataS.rename(columns = {"SEQN":"ID","DPQ010" : "Desinteresse ou Falta de Prazer ", "DPQ020": "Abatimento ou Falta de Perspectiva", "DPQ030": "Insônia ou Excesso de Sono", "DPQ040": "Cansaço ou Falta de Energia", "DPQ050": "Falta de Apetite ou Excesso na Alimentação","DPQ060": "Sentiu-se: Mal consigo mesmo, Fracassado ou que Decepcionou a Família ou a Si mesmo", "DPQ070": "Falta de Concentração em Atividades Rotineiras", "DPQ080": "Agitação ou Lentidão para hábitos comuns como: Andar e Falar", "DPQ090":"Pensou em Ferir-se ou que era Melhor estar Morto", "RIAGENDR": "Gênero", "RIDAGEYR":"Idade em Anos", "RIDRETH1":"Raça ou Etnia","DMDEDUC":"Escolaridade","INDFMINC":"Renda anual Familiar(US$)"}) #O Processo de alteração se deu por usar as próprias palavras que definem momentos da pessoa que fez parte da pesquisa. 
dataS1.describe()

                 ID  ...  Renda anual Familiar(US$)
count   5334.000000  ...                5287.000000
mean   36358.796775  ...                   8.738604
std     2964.731827  ...                  12.777756
min    31130.000000  ...                   1.000000
25%    33838.500000  ...                   4.000000
50%    36347.500000  ...                   7.000000
75%    38915.750000  ...                  10.000000
max    41473.000000  ...                  99.000000

[8 rows x 15 columns]