<a href="https://colab.research.google.com/github/Pablosilvaa/Desafio-Infer-ncia---Tera/blob/main/Desafio_tera_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Background**
### **Depressão e Hábitos Saudáveis**


O transtorno depressivo representa um grande problema de saúde pública e é apontado como uma das principais causas de doenças e debilitações segundo a Organização Mundial da Saúde (OMS). A depressão resulta de uma interação complexa de fatores sociais, psicológicos e biológicos e, embora o acesso a diagnósticos e tratamentos esteja aumentando, muitos ainda não possuem acesso ao controle adequado dos sintomas depressivos.

Para garantir um estilo de vida saudável, a OMS recomenda a prática regular de exercícios, bem como a adoção de uma dieta saudável rica em alimentos in natura e com reduzido teor de gordura saturada, sal e açucares refinados.

Neste desafio, utilizaremos dados de uma pesquisa realizada anualmente nos Estados Unidos para avaliar:


**(1) Qual o perfil de indivíduos (adultos maiores de 18 anos) com sintomas depressivos nos EUA no período de 2005-2006**

**(2) Se hábitos saudáveis de alimentação e atividade física estão associados a menores índices de depressão nesta população.**


#**Perguntas durante a EDA**

#**Pacotes**

In [ ]:
#pacotes instalados que não estavam contidos no repositório oficial do colab
!pip install sweetviz

In [2]:
#Lista de Importações
import pandas as pd
import numpy as np
import seaborn as sbn
import sweetviz as sv

#**Pré Tratamento Referente a PHQ-9**

In [3]:
dataSM = pd.read_csv("/content/drive/MyDrive/Tera/Desafio 1/DEMO_PHQ.csv") #dataSM referência a dados do questionário de SAÚDE Mental
dataSM.describe()

               SEQN       DPQ010  ...      DMDEDUC     INDFMINC
count   5334.000000  4836.000000  ...  5334.000000  5287.000000
mean   36358.796775     0.307279  ...     3.233221     8.738604
std     2964.731827     0.758459  ...     1.268395    12.777756
min    31130.000000     0.000000  ...     1.000000     1.000000
25%    33838.500000     0.000000  ...     2.000000     4.000000
50%    36347.500000     0.000000  ...     3.000000     7.000000
75%    38915.750000     0.000000  ...     4.000000    10.000000
max    41473.000000     9.000000  ...     9.000000    99.000000

[8 rows x 15 columns]

In [4]:
#Para facilitar a leitura do dataset, começaremos renomeandos as colunas do dataSM e atribuiremos a essa renomeação de dataSM1
dataSM1 = dataSM.rename(columns = {"SEQN":"ID","DPQ010" : "Desinteresse ou Falta de Prazer ", "DPQ020": "Abatimento ou Falta de Perspectiva", "DPQ030": "Insônia ou Excesso de Sono", "DPQ040": "Cansaço ou Falta de Energia", "DPQ050": "Falta de Apetite ou Excesso na Alimentação","DPQ060": "Sentiu-se: Mal consigo mesmo, Fracassado ou que Decepcionou a Família ou a Si mesmo", "DPQ070": "Falta de Concentração em Atividades Rotineiras", "DPQ080": "Agitação ou Lentidão para hábitos comuns como: Andar e Falar", "DPQ090":"Pensou em Ferir-se ou que era Melhor estar Morto", "RIAGENDR": "Gênero", "RIDAGEYR":"Idade em Anos", "RIDRETH1":"Raça ou Etnia","DMDEDUC":"Escolaridade","INDFMINC":"Renda anual Familiar(US$)"}) #O Processo de alteração se deu por usar as próprias palavras que definem momentos da pessoa que fez parte da pesquisa. 
dataSM1.head()

      ID  ...  Renda anual Familiar(US$)
0  31130  ...                        4.0
1  31131  ...                       11.0
2  31132  ...                       11.0
3  31134  ...                       12.0
4  31139  ...                       11.0

[5 rows x 15 columns]

#**Pré Tratamente Referente a HEI**

In [5]:
dataSA = pd.read_csv("/content/drive/MyDrive/Tera/Desafio 1/PAG_HEI.csv") #DataSA faz alusão a saúde alimentar.

In [6]:
#Para facilitar a leitura do dataset, começaremos renomeandos as colunas do dataSA e atribuiremos a essa renomeação de dataSA. DataSA faz alusão a saúde alimentar.
dataSA1 = dataSA.rename(columns={"SEQN":"ID", "PAG_MINW":"Tempo Total de Atividades moderada-vigorosa em Minutos","ADHERENCE":"Grupo de Aderência ao PAG", "HEI2015C1_TOTALVEG":"Total de Vegetais", "HEI2015C2_GREEN_AND_BEAN":"Verduas e Leguminosas", "HEI2015C3_TOTALFRUIT":"Frutas Totais", "HEI2015C4_WHOLEFRUIT":"Frutas in Natura", "HEI2015C5_WHOLEGRAIN":"Grãos Integrais", "HEI2015C6_TOTALDAIRY":"Laticínios","HEI2015C7_TOTPROT":"Proteínas","HEI2015C8_SEAPLANT_PROT":"Plantas Marinhas e Proteínas Vegetais", "HEI2015C9_FATTYACID":"Ácido-Graxo","HEI2015C10_SODIUM":"Sódio","HEI2015C11_REFINEDGRAIN":"Grãos Refinados", "HEI2015C12_SFAT":"Gordura Saturada", "HEI2015C13_ADDSUG":"Açúcares Adicionados","HEI2015_TOTAL_SCORE":"Escore Total"})
dataSA1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 17 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   ID                                                      9424 non-null   int64
 1   Tempo Total de Atividades moderada-vigorosa em Minutos  7150 non-null   float64
 2   Grupo de Aderência ao PAG                               7150 non-null   float64
 3   Total de Vegetais                                       8549 non-null   float64
 4   Verduas e Leguminosas                                   8549 non-null   float64
 5   Frutas Totais                                           8549 non-null   float64
 6   Frutas in Natura                                        8549 non-null   float64
 7   Grãos Integrais                                         8549 non-null   float64
 8   Laticínios                                              8549 non-null   float64
 9   Proteínas                                               8549 non-null   float64
 10  Plantas Marinhas e Proteínas Vegetais                   8549 non-null   float64
 11  Ácido-Graxo                                             8549 non-null   float64
 12  Sódio                                                   8549 non-null   float64
 13  Grãos Refinados                                         8549 non-null   float64
 14  Gordura Saturada                                        8549 non-null   float64
 15  Açúcares Adicionados                                    8549 non-null   float64
 16  Escore Total                                            8549 non-null   float64
dtypes: float64(16), int64(1)
memory usage: 1.2 MB

# **Análise Exploratória de Dados - PHQ-9**

In [ ]:
#Decidi por não alterar as variáveis quantitativas para qualitativas, pois queria poder mantera sumarização simplificada. Dessa forma, optei (Conversando com o meu amigo Wada) por fazer as variáveis "7" e "9" como 0 de forma a não atrapalhar na hora da sumarização

#checagem de valores
dataSM['DPQ090'].unique()
#para valor 7
#7 in dataSM['DPQ090'].unique()
#para valor 9
9 in dataSM['DPQ030'].unique()

#print(dataSM.iloc[1581])

True

In [38]:
#Para cada valores 7, 77, 9 e 99 nós colocaremos o valor 0, pois ambos representam um valor que não contribui para a sumarização
#dataSM1.columns



#Para n = 7 da "coluna Desinteresse ou falta..." até "Pensou em ferir-se ou..."
dataSM1.iloc[:,1:10] = dataSM1.iloc[:,1:10].replace(7, 0)
#Para n = 9 da "coluna Desinteresse ou falta..." até "Pensou em ferir-se ou..."
dataSM1.iloc[:,1:10] = dataSM1.iloc[:,1:10].replace(9, 0)

#Para Escolaridade e N=7
dataSM1.iloc[:,13] = dataSM1.iloc[:,13].replace(7, 0)
#Para Escolaridade e N=9
dataSM1.iloc[:,13] = dataSM1.iloc[:,13].replace(9, 0)

#Para Renda com n = 77
dataSM1.iloc[:,14] = dataSM1.iloc[:,14].replace(77, 0)
#Para Renda com n = 99
dataSM1.iloc[:,14] = dataSM1.iloc[:,14].replace(99, 0)

In [ ]:
dataSM1['Pensou em Ferir-se ou que era Melhor estar Morto'].unique()
'Não sabe' in dataSM1['Falta de Concentração em Atividades Rotineiras'].unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

False

In [37]:
#Inicio da Análise Exploratória de Dados

dataSM1.head(30)
dataSM1.tail(59)

#Vamos usar o comando describe para comparar com esse data set sem linhas com "NaN"

         ID  ... Renda anual Familiar(US$)
5275  41368  ...                       0.0
5276  41369  ...                       8.0
5277  41374  ...                       2.0
5278  41375  ...                       0.0
5279  41376  ...                      12.0
5280  41380  ...                      12.0
5281  41382  ...                       7.0
5282  41383  ...                       5.0
5283  41386  ...                       6.0
5284  41387  ...                       5.0
5285  41388  ...                       9.0
5286  41389  ...                       2.0
5287  41390  ...                      10.0
5288  41394  ...                       4.0
5289  41398  ...                       2.0
5290  41401  ...                       1.0
5291  41402  ...                       1.0
5292  41403  ...                      11.0
5293  41404  ...                       6.0
5294  41405  ...                       3.0
5295  41408  ...                      11.0
5296  41409  ...                       7.0
5297  41413  ...                      10.0
5298  41414  ...                       8.0
5299  41415  ...                       7.0
5300  41416  ...                       4.0
5301  41418  ...                       7.0
5302  41422  ...                       6.0
5303  41424  ...                      11.0
5304  41426  ...                      12.0
5305  41427  ...                       7.0
5306  41428  ...                       7.0
5307  41430  ...                       6.0
5308  41434  ...                       3.0
5309  41436  ...                      10.0
5310  41437  ...                       7.0
5311  41438  ...                       7.0
5312  41439  ...                      11.0
5313  41440  ...                      11.0
5314  41444  ...                       1.0
5315  41447  ...                      10.0
5316  41449  ...                       4.0
5317  41450  ...                      11.0
5318  41451  ...                      11.0
5319  41452  ...                       4.0
5320  41454  ...                       8.0
5321  41457  ...                       7.0
5322  41458  ...                       5.0
5323  41459  ...                      10.0
5324  41460  ...                      11.0
5325  41461  ...                       5.0
5326  41462  ...                       9.0
5327  41464  ...                       9.0
5328  41465  ...                       3.0
5329  41466  ...                       3.0
5330  41468  ...                       8.0
5331  41469  ...                       2.0
5332  41472  ...                       7.0
5333  41473  ...                       6.0

[59 rows x 15 columns]

In [ ]:
dataSM1_No_NaN = dataSM1.dropna()

dataSM1_No_NaN.describe()
#Comparando os datasets dataSM1 e com DataSM1_No_NaN vemos que não existe  muita diferenta entre eles, portanto vamos manter a exclusão das linhas com dados faltantes(NaN)

In [ ]:
dataSM1_No_NaN.head(59)

# **Análise Exploratória de Dados HEI**

In [ ]:
#Como existem linhas que têm todos os valores NaN, então primeiro vamos focar em deletar somente elas.
dataSA1_WRN = dataSA1.dropna(axis = 0, how = 'all')